body
{
  background-color: #111;
  margin: 0;
}
.Head
{
  position: relative;
  text-align: center;
  top: 200px;
  overflow: hidden;
  color: #fff;
  font-family: nexa;
  text-shadow: 0px 0px 8px rgba(255, 65,185, 1);
  font-size: 4em;
}
#wire
{
  text-align: center;
  white-space: nowrap;
  border-bottom: 4px solid #222;
  padding: 0;
  position: absolute;
  top:-80px;
  width: 100%;
  height: 100px;
}
#wire li
{
  position: relative;
  list-style: none;
  margin:0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background: #fff;
  /* Animation Stuff*/
  animation-name: even-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
#wire li:nth-child(odd)
{
  animation-name: odd-flash;
}
#wire li::before
{
  content: "";
  position: absolute;
  width:14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0;
  background: #444;
}
@keyframes  even-flash
{
  0%,100%
  {
     background: rgba(255, 230, 65, 1);
     box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
  }
  50%
  {
     background: rgba(255, 230, 65, 0.5);
     box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
  }
}
@keyframes  odd-flash
{
  50%
  {
     background: rgba(255, 65,185, 1);
     box-shadow: 0px 2px 20px 4px rgba(255,65,185, 1);
  }
  0%,100%
  {
     background: rgba(255, 65,185, 0.5);
     box-shadow: 0px 2px 20px 4px rgba(255,65,185, .3);
  }
}
